
.dark-theme {
  background-color: #111111;
  color: white;

  .overlay {
    background-color: rgba(17, 17, 17, 0.9);
  }

  .basketDrawing {
    background-color: #1d1d1d;
    color: white;

    .basketHeader {

    }

    .basketContent {

      .cart {

      }

      .rightCart {
        margin-left: 10px;
      }
    }

    .basketFooter {
      background-color: #111111;

      .decor {
        background-color: #1d1d1d;
      }
    }
  }
}


.light-theme{
  background-color: #e9ebec;
  color: black;
}


.basketContent {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px; /* Ширина полосы прокрутки */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет ползунка */
    border-radius: 4px; /* Скругление углов ползунка */
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Цвет фона трека */
    border-radius: 4px; /* Скругление углов трека */
  }
}



.cart {
  position: relative;
  .imageUrl {
    width: 225px;
    height: 300px;
  }

  .cartContent {
    display: flex;
    flex-direction: column;
    h4 {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 5px;
    }

    .clicker {
      flex: 1;

      img {
        width: 20px;
        height: 20px;
        opacity: 0.5;
        pointer-events: none;
      }

      .buttonMinus, .buttonPlus {
        padding: 11px 10px;
        background-color: rgba(225, 225, 225, 0.63);
        border-radius: 15px;
        border: none;
      }
    }
  }



  .deleteCart {
    position: absolute;
    top: 23px;
    right: 40px;

    button {
      padding: 15px;
      background-color: #443a3a;
      border-radius: 20px;
      border: none;
      cursor: pointer;
    }

    img {
      width: 15px;
      height: 15px;
      filter: brightness(0) invert(1);
      opacity: 0.9;
    }
  }
}